.header-menu-link,
.header-contact-link,
.footer-logo,
.header-logo {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

/*                heder     */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0 1px 6px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);
}



.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}



.header-logo {
    margin-right: 76px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-logo-web {
    color: #4d5ae5;
}



.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    position: relative;
    display: block;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}



.header-menu-link.current {
    position: relative;
    color: #404bbf;
}

.header-menu-link.current::after {
    content: '';
    
        position: absolute;
        left: 0;
        bottom: -1px;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
    
        background-color: #404bbf;
}



.header-contact {
    font-style: normal;
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-contact-link {
    display: block;
    padding: 24px 0;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

/*                     hedere                               */

/*                          hero                             */
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 188px 0;
}

.hero-wrapper {
  padding: 0;
}

.hero-btn {
  margin: 0 auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*                          hero                             */

/*                           feature                     */
.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}


.features-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 264px;
    height: 112px;

    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;

    margin-bottom: 8px;
}

.icon-features {
    fill: #2e2f42;
}


.features-strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*  feature                                              */

/*               team      */
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.team-info {
    padding: 32px 16px;
    text-align: center;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #f4f4fd;
}

/*                tem                            */


/*                 porfolio             */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
cursor: pointer;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow:
        0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-img {
  display: block;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
 
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 40px 32px;

    background-color: #4d5ae5;
    color: #f4f4fd;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}

/*           porfolio     */

/*                     footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-web {
  color: #4d5ae5;
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;

}

.footer-info {
    margin-right: 120px;
}
/*                     footer */
